<html lang="en" ng-app="StaffClubApp">
    <head>
        <base href="/staff-club/">
        <link rel="stylesheet" href="./stylesheet/main.css">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <!--<meta name="viewport" content="initial-scale=1, maximum-scale=1" />-->
        <title>Staff Club > Login</title>
    </head>
    <body layout="column" ng-controller="AppCtrl">
        <div layout="row" flex>
            <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="1">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>
                            <span>Poly U Staff Club</span>
                        </h2>
                    </div>
                </md-toolbar>
                <md-list ng-controller="LinkMenuCtrl">
                    <md-item>
                        <md-subheader class="md-primary">Hot Links</md-subheader>
                    </md-item>
                    <md-item ng-repeat="menuLink in menuLinks">
                        <a href="{{menuLink.href}}" class="md-button">
                            <md-button>
                                {{menuLink.name}}
                            </md-button>
                        </a>
                    </md-item>
                </md-list>
            </md-sidenav>
            <div flex id="content">
                <md-toolbar layout="row">
                    <h1 class="md-toolbar-tools" layout-align-gt-sm="left">Login</h1>
                    1234
                </md-toolbar>
                <md-content layout="column" class="md-padding" ng-controller="LoginCtrl">
                    <section data-ng-init="showMessageToast('loginAlready')" ng-if="staff_id!=null"></section>
                    <section ng-if="staff_id!=null">You are currently logined as {{staff_id}}.</section>
                    <section id="bottom">
                        <h2 class="md-title">Account Login</h2>
                        <form name="loginForm" ng-model="login.form" ng-submit="submit()">
                            <section layout="column" layout-align="space-around" flex>
                                <md-input-container>
                                    <label>Staff Number</label>
                                    <input required name="staff_id" ng-model="login.staff_id">
                                </md-input-container>
                                <md-input-container>
                                    <label>Password</label>
                                    <input required type="password" name="password" ng-model="login.password">
                                </md-input-container>
                                <md-button class="md-raised md-primary" ng-type="submit">Login</md-button>
                            </section>
                        </form>
                        {{staff_id}}

                    </section>
                </md-content>
            </div>
        </div>
        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0-rc.0/angular-route.min.js"></script>
        <script src="./script/main.js"></script>
        <!-- php json goes here -->
        <script>
            //loginError = true;
            app.controller('AppCtrl', function ($scope, $mdToast, $location, $http, $mdDialog) {
                $scope.staff_id = null;
                $http.get('metadata.php').
                success(function(data, status, headers, config) {
                    $scope.staff_id = data.staff_id;
                });
                $scope.showMessageToast = function (message) {
                    if (message == 'loginSuccess') {
                        $mdToast.show(
                            $mdToast.simple()
                            .content('Login Success!')
                            .position('top right')
                            .action('OK')
                            //).then($location.url('index.html?msg=loginSuccess'))
                        ).then($scope.isLogin = true);
                    } else if (message == 'loginError') {
                        $mdToast.show(
                            $mdToast.simple()
                            .content('Login failed!')
                            .position('top right')
                            .action('OK')
                        ).then($location.url('login.html?msg=loginError'));
                    } else if (message == 'loginAlready') {
                        var confirm = $mdDialog.alert()
                            .title('Message')
                            .content('You have already logged in.')
                            .ariaLabel('Message - Login Already')
                            .ok('Got it!');
                        $mdDialog.show(confirm)
                            .then(function() {
                                $location.url('index.html?msg=loginAlready');
                            });
                    }
                };
                $scope.isLogin = false;
                $scope.message = $location.search()['msg'];
                if ($scope.message) {
                    $scope.showMessageToast($scope.message);
                }
            })
            .controller('LoginCtrl', function ($scope, $mdToast, $http, $mdToast, $mdDialog, $location) {
                $scope.submit = function() {
                    $http.post('login.php', {
                        staff_id: $scope.login.staff_id,
                        password: $scope.login.password
                    }).
                    success(function(data, status, headers, config) {
                        $scope.showMessageToast(data);
                    });
                };
            })
        </script>
    </body>
</html>